body {
    background-color: #dbe6df;
}
.container{
    box-shadow: inset 1px 1px 1px #293d3d, 1px 1px 1px #293d3d;
    border: 4px #293d3d solid;
    background-color: #92aea0;
    height: 500px; 
    width: 342px;
    margin-left: auto; margin-right: auto;
    margin-top: 170px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 24px;
}

.display-container{
    border: 6px #293d3d solid;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 106px;
    width: 339px;
    background-color: #dbe6df;
    border-radius: 10px;
    box-shadow: inset 0px 2px 2px #293d3d, 0px 2px 2px #293d3d;
    width: 327px;
    height: 110px;
}

.result{
    font-size: 50px;
    color: #293d3d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    display: flex;
}

button{
    border-style: none;
    box-shadow: inset 0px 1px 1px #293d3d, 0px 1px 1px #293d3d;
    font-size: 28px;
    color: white;
    padding: 0px;
    margin: 6px;
    height: 45px;
    width: 70px;
    background-color: #293d3d;
    border-radius: 10px;

}

.equal{
    width: 152px;
}
